@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

body{
    margin:0;
    padding:0;
    text-align:center;
    font-family: 'Noto Serif JP', sans-serif;
    letter-spacing: 0.12em;
}
/* 共通 */
section {
    margin: 100px 0px 0px 0px;
}
h1 {
    color: #545454;
}

/* header */
header{
    text-align: center;
    list-style-type: none;
}
header img {
    width: calc(150vw / 20);
    height: auto;
}
.header .header-nav .nav-menu-item {
    margin: auto 2rem;
}
.header  {
    margin: auto 2rem;
}
.header li {
    list-style-type: none;
    display: inline-block;
}
.header a {
    color: #545454;
    font-size: calc(30vw / 20);
    letter-spacing: 0.12em;
    text-decoration:none;
}
/* main-visual */
.main-visual{
    width: 100%;
    height: auto;
    position: relative;/*親要素にrelative*/
}
.main-visual img {
    width: 100%;
    height: auto;
}
.main-visual-text {
    position: absolute;/*重ねたい子要素にabsolute*/
    top:35%;
    left: 75%;
   -ms-transform: translate(-50%,-50%);/*ベンダープレフィックス*/
    -webkit-transform: translate(-50%,-50%);/*ベンダープレフィックス*/
    transform: translate(-50%,-50%);/*センター寄せの修正*/
    color: #181728;
}
.main-visual-text h1 {
    font-size: calc(100vw / 20);
}
.main-visual-text p {
    font-size: calc(45vw / 20);
}

/* Strength */
.strength-01 {
    display: flex;
    justify-content:center; /* 水平方向 */
    align-items: center; /* 垂直方向 */
    padding: 0 0 10px 0;
}
.Strength h4{
    color: #67a6e4;/* 背景色 */
    font-size: calc(35vw / 20);/* フォントサイズ */
}
.strength-01 img {
    width: 40%;
}
.strength-01-text {
    width: 50%;
}
.strength-01-text h4 {
    font-size: calc(50vw / 20);/* フォントサイズ */
font-weight: bold;/* フォント太さ */
padding-top: .5em;
padding-bottom: .5em;
padding-left: .5em;
margin-bottom: 2em;
background-color: #67a6e4;/* 背景色 */
color: #ffffff;/* フォント色 */
}
.strength-01-text p {
    font-size: calc(25vw / 20);/* フォント
    サイズ */
}
.strength-02 {
    display: flex;
    justify-content:center; /* 水平方向 */
    align-items: center; /* 垂直方向 */
}
.strength-02 img {
    width: 40%;
}
.strength-02-text {
    width: 50%;
}
.strength-02-text h4 {
    font-size: calc(50vw / 20);/* フォントサイズ */
font-weight: bold;/* フォント太さ */
padding-top: .5em;
padding-bottom: .5em;
padding-left: .5em;
margin-bottom: 2em;
background-color: #67a6e4;/* 背景色 */
color: #ffffff;/* フォント色 */
}
.strength-02-text p {
    font-size: calc(25vw / 20);/* フォントサイズ */
}

/* Service */
.Service h4{
    color: #67a6e4;
    font-size: calc(35vw / 20);/* フォントサイズ */
}
.Service h5{
    color: #545454;
    font-size: calc(35vw / 20);/* フォントサイズ */
}
.strength-01 {
    display: flex;
    justify-content:center; /* 水平方向 */
    align-items: center; /* 垂直方向 */
    padding: 0 0 10px 0;
}
.service-box {
    background-color: #eee;     /* 背景色指定 */
    padding:  10px;             /* 余白指定 */
    display: flex;              /* フレックスボックスにする */
    justify-content:center;
}
.service-box-item {
    padding: 10px;
    color: #ffffff;            /* 文字色 */
    font-weight: bold;
    margin:  10px;              /* 外側の余白 */
    border-radius:  5px;        /* 角丸指定 */
    width: 15%;                 /* 幅指定 */
}
.service-box-item p {
    font-size: calc(25vw / 20);/* フォントサイズ */
    /* text-align: left; */
}
.service-box-item img {
    width: 50%;
}

.service-box-item-btn {
    display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 70px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	color: #ffffff;
    background: #6f7071;
	border-radius: 100vh;
	transition: 0.5s;
}
.service-box-item-btn:hover {
	color: #545454;
	background: #ffffff;
}
.service-box-item:nth-child(1) {
    background-color:  #2c87f5; /* 背景色指定 */
}
.service-box-item:nth-child(2) {
    background-color:  #9dc6f8; /* 背景色指定 */
}
.service-box-item:nth-child(3) {
    background-color:  #03b0f9; /* 背景色指定 */
}
.service-box-item:nth-child(4) {
    background-color:  #81d0f2; /* 背景色指定 */
}












footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
    
}
